* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --hue: 250;

    --bg-primary: hsl(var(--hue), 100%, 0%); 
    --bg-button: hsl(100, 50%, 50%);

    --tf-primary: hsl(var(--hue), 0%, 100%);
    --asp-primary: hsl(100, 50%, 50%);

    /*REG 400, BOLD 700, EXBOLD 800*/
    --ff-heading: 'Open Sans';

    --fs-heading: clamp(1rem, 1rem + 5vw, 6rem);
    --fs-heading-medium: clamp(3rem, 0.5rem + 3vw, 4rem);
    --fs-heading-small: clamp(2rem, 0.5rem + 3vw, 3rem);
    --fs-heading-button: clamp(2rem, 0.5rem + 3vw, 2rem);
    --fs-heading-button-grid: clamp(1rem, 0.5rem + 3vw, 2rem);
    --fs-headion-smallp: clamp(2rem, 0.5rem + 3vw, 2rem);
    
    scroll-behavior: smooth;
}

header {
    font-family: var(--ff-heading);
    margin-bottom: 5rem;
    animation: topdown;
    animation-duration: 700ms;
}

header img {
    width: 13rem;
    align-items: center;
}

header img:hover {
    opacity: 0.9;
}

header a {
    color: var(--tf-primary);
    text-decoration: none;
    font-size: 1.9rem;
}

header a:hover {
    opacity: 0.9;
}

.logo {
    font-size: var(--fs-heading-small);
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    height: 8rem;
    width: 100%;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 3.2rem;
    color: var(--tf-primary);
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 3.2rem;
    height: 0.2rem;
    background: #fff;
    margin: 0.8rem;
    transition: 0.3s;
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {   
    opacity: 0;
}

.mobile-menu.active .line13 {
    transform: rotate(45deg) translate(-5px, -7px);   
}


.nav-list.active {
    transform: translateX(0);
}

body {
    background-color: var(--bg-primary);
    font-family: var(--ff-heading);
    overflow-x: hidden;
}

main {
    max-width: 100%;
    padding: 5rem;
    margin: auto;
}

.line {
    margin: 20rem auto 20rem;
    width: 568px;
    height: 0px;
    border: 1px #eceff2 solid;
}

#page1 {
    margin-bottom: 3rem;
    color: var(--tf-primary);
    display: flex;
    flex-direction: column;
    max-width: 150rem;
    margin: auto;
}

#page1 h1 {
    color: var(--tf-primary);
    font-size: var(--fs-heading);
    line-height: 3.2rem;
    font-family: var(--ff-heading);
    font-weight: 800;
    animation: topdown;
    animation-duration: 700ms;
    text-align: center;
    margin-bottom: 10rem;
}

#page1 .p1text {
    margin-bottom: 5rem;
    text-align: center;
    animation: downtop;
    animation-duration: 700ms;
}

#page1 p {
    font-size:var(--fs-heading-small);
    line-height: 3rem;
    margin-bottom: 4rem;
}

#page1 span {
    color: var(--asp-primary);
    font-size: 3rem;
}

#page1 .btp1 {
    text-align: center;
    animation: downtop;
    animation-duration: 700ms;
}

#page1 a {
    font-size:var(--fs-heading-button);
    color: var(--asp-primary);
    text-decoration: none;
}

#page1 a:hover {
    font-weight: bold;
}

#page2 {
    color: var(--tf-primary);
    max-width: 150rem;
    margin: auto;
}

#page2 h1 {
    font-size: var(--fs-heading-medium);
    margin-bottom: 20rem;
    font-weight: 700; 
    text-align: center;
}

#page2 .containerptwo{
    display: flex;
    max-width: 150rem;
    margin: auto;
    justify-content: space-around;
}


#page2 .col {
    max-width: 35rem;
}

#page2 h2 {
    font-size: var(--fs-heading-medium);
    margin-bottom: 2rem;
    font-weight: 700;
}

#page2 p {
    font-size: var(--fs-headion-smallp);
}

#page3 {
    max-width: 175rem;
    margin: auto;
}

#page3 h2 {
    font-size: var(--fs-heading-medium);
    margin-bottom: 2rem;
    font-weight: 700; 
    color: var(--tf-primary);
    margin-bottom: 15rem;
    text-align: center;
}

#page3 .containerpthree {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 80rem;
    text-align: center;
}

#page3 .containerpthree .gridtext {
    width: 30rem;
    margin: auto;
}

#page3 p {
    color: var(--tf-primary);
    font-size: var(--fs-heading-small);
}

#page3 a {
    color: var(--asp-primary);
    font-size: var(--fs-heading-button-grid);
    text-decoration: none;
}

#page3 a:hover {
    font-weight: bold;
}

#page4 {
    color: white;
    max-width: 110rem;
    display: flex;
    flex-direction: column;
    margin: auto;
}

#page4 h2 {
    font-size: var(--fs-heading-medium);
    font-weight: 700; 
    color: var(--tf-primary);
    text-align: center;
    margin-bottom: 10rem;
}

#page4 p {
    font-size: var(--fs-headion-smallp);
    margin-bottom: 2rem;
    text-align: center;
}

#page4 .pagefourlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#page4 .pagefourlinks a {
    text-decoration: none;
    color: var(--asp-primary);
    font-size: 1.8rem;
}

#page4 .pagefourlinks a:hover {
    font-weight: bold;
}

#page4 #mais{
    display: none;
}

#page4 .aleiamais {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
}

#page4 .aleiamais a {
    font-size: 2rem;
    color: var(--asp-primary);
    text-decoration: none;
}

#page4 .aleiamais a:hover {
    font-weight: bold;
}

#page4 .exibir {
    display: block!important;
}

footer {
    padding: 12px;
    width: 100%;
    border-top: 2px solid #eceff2 ;;
    color: var(--tf-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer img {
    width: 15rem;
    height: 4rem;
}

footer img:hover {
    opacity: 0.8;
}

footer .footcontatos {
    display: flex;
    flex-direction: row;
}

.footcontatos img {
    width: 4rem;
    height: 4rem;
    margin-left: 2rem;
}

.footcontatos img:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {

    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #000000;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    .line {
        width: 100%;
    }

    #page2 h2 {
        text-align: center;
        margin-bottom: 5rem;
    }

    #page2 .col {
        margin-bottom: 10rem;
    }

    #page2 .containerptwo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #page3 .containerpthree {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #page3 .gridtext {
        margin-bottom: 10rem;
    }

    #page3 h2 {
        margin-bottom: 5rem;
    }

    #page4 #textMobile {
        display: none;
    }

}


@keyframes topdown {
    0%{
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes downtop {
    0% {
        opacity: 0;
        transform:translateY(15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}